:root {
  --color-primary: #1bb4e8;

  --color-bg: #ebebeb;
  --color-bg-header: #21272b;
  --color-bg-overlay: #1a3243;

  --color-text-light: #ffffff;
  --color-text-gold: #c6b07f;
}

header {
  background-color: var(--color-bg-header);
}

header a {
  color: var(--color-text-light);
  text-decoration: none;
}

#hero-card {
  background-color: var(--color-bg-overlay);
  color: var(--color-text-light);
}
